* {
  font-family: "Roboto";
}

body {
  margin: 0;
}

h1 {
  font-family: "Shrikhand";
}

p {
  font-size: 18px;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

.like__btn {
  display: flex;
}
.like__btn .fa-solid {
  position: absolute;
  opacity: 0;
  scale: 1.1;
  padding-block: 10px;
  padding-inline: 2px;
  margin-inline: -2px;
  margin-top: -10px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: opacity 500ms;
}
.like__btn .fa-solid:hover {
  opacity: 1;
}

.loader {
  opacity: 1;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacity 3s ease-out;
  animation-fill-mode: both;
}
.loader__animation {
  width: 48px;
  height: 48px;
  border: 5px solid #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.explorer {
  background-color: #F6F6F6;
  text-align: center;
  height: 287px;
}
.explorer h2 {
  margin-top: 0;
  padding-top: 39px;
}
@media (min-width: 768px) {
  .explorer h2 {
    font-size: 40px;
  }
}
.explorer__btn {
  position: relative;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgb(191.25, 191.25, 191.25);
  transition: all 400ms;
  padding-inline: 18px;
  padding-block: 13px;
  top: 40px;
}
.explorer__btn:hover {
  box-shadow: 0 4px 10px rgb(140.25, 140.25, 140.25);
  filter: brightness(1.1);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  padding-bottom: 68px;
  margin-inline: 20px;
}
@media (min-width: 768px) {
  .fonctionnement {
    max-width: 1053px;
    padding-inline: 20px;
    margin-inline: auto;
  }
}
.fonctionnement > h2 {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .fonctionnement > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.fonctionnement__pannel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.fonctionnement__pannel__text {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 20px;
  padding-left: 33px;
  box-shadow: 0 4px 15px rgb(216.75, 216.75, 216.75);
}
.fonctionnement__pannel__text .fa-solid {
  color: #7E7E7E;
  padding-right: 27px;
}
.fonctionnement__pannel__text--color .fa-solid {
  color: #9356DC;
}
.fonctionnement__pannel > h4 {
  background-color: #9356DC;
  color: white;
  margin: 0;
  padding-inline: 8px;
  padding-block: 2px;
  border-radius: 12px;
  position: relative;
  margin-right: -10px;
}

.header {
  text-align: center;
}
.header__image {
  position: relative;
  z-index: 1;
  display: flex;
  justify-self: center;
  width: 100%;
  height: 36px;
  object-fit: contain;
  padding-block: 14px;
  box-shadow: 0 2px 4px rgb(216.75, 216.75, 216.75);
}
@media (min-width: 768px) {
  .header__image {
    padding-block: 30px;
    box-shadow: none;
  }
}
.header__image__background {
  object-fit: cover;
  width: 100%;
  height: 275px;
}
.header__image--shadow {
  box-shadow: none;
}
.header__location {
  position: relative;
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 4px rgb(191.25, 191.25, 191.25);
}
@media (min-width: 768px) {
  .header__location {
    box-shadow: none;
  }
}
.header__location .fa-solid {
  padding-right: 17px;
}
.header__btn {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 22px;
  color: #353535;
}
@media (min-width: 768px) {
  .header__btn {
    top: 38px;
  }
}

.footer {
  background-color: #353535;
  color: white;
  height: 186px;
  padding-left: 25px;
}
@media (min-width: 768px) {
  .footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.footer__image {
  filter: invert(100%);
  height: 14px;
  padding-top: 22px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__image {
    padding: 0;
    margin-right: 16px;
    margin-left: 30px;
  }
}
.footer__link {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__link {
    flex-direction: row;
  }
}
.footer__link__logo {
  display: flex;
  align-items: center;
}
.footer__link__logo .fa-solid {
  padding-right: 10px;
}
.footer__link__last {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__link__last {
    flex-direction: row;
    margin-left: 30px;
  }
}
.footer__link a {
  margin: 0;
  padding-bottom: 7px;
}
@media (min-width: 768px) {
  .footer__link a {
    padding-bottom: 0;
    padding-right: 10px;
  }
}

.restaurants {
  background-color: #F6F6F6;
  padding-top: 54px;
  padding-bottom: 66px;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .restaurants > div {
    margin: auto;
    max-width: 1080px;
  }
}
.restaurants .like__btn {
  margin-right: 25px;
}
.restaurants__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 18px;
}
@media (min-width: 768px) {
  .restaurants__card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 100px;
  }
}
.restaurants__card .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurants__card .card__content {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurants__card .card__text {
  flex-direction: column;
  padding-left: 15px;
}
.restaurants__card .card__title {
  margin-top: 16px;
  margin-bottom: 5px;
}
.restaurants__card .card__subtitle {
  margin-top: 0;
  margin-bottom: 12px;
}
.restaurants__card .card h5 {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding-inline: 9px;
  padding-block: 7px;
  border-radius: 2px;
  right: 21px;
}
.restaurants__card img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 225px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu {
  background-color: #F6F6F6;
  text-align: center;
  padding-inline: 17px;
  padding-bottom: 130px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -30px;
}
@media (min-width: 768px) {
  .menu {
    margin-inline: auto;
    max-width: 1055px;
  }
}
.menu h2 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 5px;
  width: 40px;
}
.menu__part {
  position: relative;
  margin-top: 40px;
  animation: menu-part 1s ease-out both;
}
@keyframes menu-part {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__part--1 {
  animation-delay: 200ms;
}
.menu__part--2 {
  animation-delay: 800ms;
}
.menu__part--3 {
  animation-delay: 1400ms;
}
@media (min-width: 768px) {
  .menu__part {
    margin-inline: auto;
    max-width: 634px;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .menu__title {
    justify-content: center;
    gap: 24px;
  }
}
.menu__title .like__btn {
  margin-top: 32px;
  margin-right: 40px;
}
.menu__title > h1 {
  margin-top: 32px;
  margin-bottom: 0;
}
.menu__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__card .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgb(216.75, 216.75, 216.75);
}
.menu__card .card:hover .fa-solid {
  animation: check-in 400ms ease-out both;
}
@keyframes check-in {
  0%, 50% {
    color: transparent;
  }
  100% {
    color: white;
    padding-inline: 20px;
    width: 20px;
  }
}
.menu__card .card:not(:hover) .fa-solid {
  animation: check-out 400ms ease-in both;
}
@keyframes check-out {
  0% {
    color: white;
    padding-inline: 20px;
    width: 20px;
  }
  50%, 100% {
    color: transparent;
  }
}
.menu__card .card__content {
  text-align: left;
  padding-inline: 15px;
  padding-block: 12px;
  text-wrap: nowrap;
  overflow: hidden;
}
.menu__card .card__title {
  text-align: left;
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card .card__subtitle {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 2px;
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card .card__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 500ms ease-out;
}
.menu__card .card__price .fa-solid {
  color: transparent;
  background-color: #99E2D0;
  padding-block: 27px;
  padding-inline: -1px;
  width: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu__card .card__price h3 {
  position: relative;
  margin: 0;
  margin-right: 15px;
  color: #353535;
  top: 15px;
}
.menu__btn {
  position: relative;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  box-shadow: 0 4px 10px rgb(191.25, 191.25, 191.25);
  transition: all 400ms;
  padding-inline: 48px;
  padding-block: 16px;
  top: 56px;
}
.menu__btn:hover {
  box-shadow: 0 4px 10px rgb(140.25, 140.25, 140.25);
  filter: brightness(1.1);
}

/*# sourceMappingURL=style.css.map */
